[alias]
    glg = log --pretty=oneline -n 15 --graph --abbrev-commit #Checksum, description, and history graph of your last 15 commits.
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    diff = difftool
    undo = checkout --
    unstage = reset -q HEAD --
